* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
}

.Nav {
  width: 15%;
  height: 100vh;
  border-right: groove rgb(253, 251, 251) 0.1px;
  background: rgb(243, 239, 239);
  box-shadow: 4px 3px 8px 1px rgb(253, 250, 250);
  padding: 35px;
}

.Nav div {
  justify-content: space-between;
  justify-content: center;
  position: relative;
  padding: 15px;
  margin: 20px 20;
}

.Nav div a {
  text-decoration: none;
  color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.Nav .logo {
  width: 80%;
  padding: 15px;
  margin: 10px;
}
.Main {
  width: 85%;
  background-color: rgb(243, 239, 239);
}

.search {
  position: relative;
  display: flex;
  background: white;
  padding: 5px;
  align-items: center;
  width: 70%;
  border-radius: 5px;
  justify-content: space-between;
  margin: 15px;
  top:40px;
}
.search_lens{
  margin-left: 40px;
}

.search input {
  border: none;
  width: 80%;
  padding: 10px;
  // height: 100%;
}

.search input:focus {
  outline: none;
}

.search button {
  width: 15%;
  padding: 10px;
  background: blue;
  border-radius: 5px;
  border: none;
  color: white;
}

.Card {
  border-radius: 10px;
  width: 20%;
  margin: 10px;
  padding: 15px,20px,20px,40px;
  position:relative;
  box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
}
.filter {
  display: inline-flex;
  padding: 10px;
  border-radius: 10px;
  margin: 50px 120px 20px ;
   bottom:50px;
}

.filter .dropdown {
  padding: 5px 15px 5px 15px
}


.Img_holder {
  border-radius: 10px;
  width: 100%;
  height:250px;
}

.Button1 {
  background: blue;
  border-radius: 5px;
  padding: 5px;
  color: white;
  margin: 10px;
}

.Button2 {
  background: red;
  border-radius: 5px;
  padding: 5px;
  color: white;
  margin: 10px;
}

// .card_info {
//   // display: none;
//   position:absolute;
// }

// .card_name{
  
// }

.card_info {
  bottom: 0%;
  position:absolute;
  color:white;
  padding:5px;
  }
  
  .card-button {
  display: none;
  }
  
  .Card:hover {
   .card_info {
  background: #ffffff;
  width:100%;
  color:black;
  
  }
  .card-button {
  display: block;
  }
}

.profile_picture{
  width:80px;
  height:60px;
  border-radius:300px;
 
}

.notification{
  display:inline-flex;
  position:absolute;
  right:150px;
  top:50px;
}
.notification_bell{
  right:170px;
  width:50px;
  position: inherit;
  color:green;
}

.num-count {
  position: absolute;
  user-select: none;
  cursor: default;
  font-size: 0.6rem;
  background:red;
  width: 1.2rem;
  height: 1.2rem;
  color:#ecf0f1;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  top: 1.89rem;
  right: 0.66rem;
  box-sizing: border-box;
}

// .notification-container {
//   &:before {
//     // triangle
//     content: "";
//     position: absolute;
//     top: 1px;
//     right: 0;
//     width: 0;
//     height: 0; 
//     transform: translate(-1rem, -100%);
//     border-left: .75rem solid transparent;
//     border-right: .75rem solid transparent;
//     border-bottom: .75rem solid white;
//   }
//   cursor: default;
//   position: absolute;
//   z-index: 999;
//   top: 0;
//   right: ($h-gutter*5);
//   width: 400px;
//   font-weight: 300;
//   background: white;
//   border-radius: 0.5rem;
//   box-sizing: border-box;
//   box-shadow: $container-shadow;
//   h3 {
//     text-transform: uppercase;
//     font-size: 75%;
//     font-weight: 700;
//     color: #84929f;
//     padding: $v-gutter*2 $h-gutter;
//   }
//   i {
//     color: #b5c4d2;
//     font-size: 140%;
//     @vertical-align(50%);
//     position: absolute;
//     &.right {
//       right: $h-gutter;
//       &:hover {
//         opacity: .8;
//         cursor: pointer;
//       }
//     }
//   }
//    em {
//      margin-right: $v-gutter;
//      font-weight: 700;
//      font-size: 115%;
//      color: #b5c4d2;
//      vertical-align: bottom;
//      display: inline-block;
//   }

//   animation-name: dropPanel;
//   animation-iteration-count: 1;
//   animation-timing-function: all;
//   animation-duration: .75s;
// }

// @keyframes dropPanel {
//   0% {
//     opacity: 0;
//     transform: translateY(-100px) scaleY(.5);
//   }
// }

// .notification {
//   box-sizing: border-box;
//   &.new {
//     background: #f3f9fd;
//   }
// }

// input.checkbox[type='checkbox']{
//   display: none;
//   + label {
//     display: block;
//   }
//   &:not(:checked) + label {
//     transition: height .25s;
//     height: 0;
//     padding: 0;
//     font-size: 0;
//     border: none;
//     * {
//       display: none; 
//     }
//   }
//   &:checked + label {  
//     height: ($v-gutter*3) + 1rem;
//     padding: $v-gutter*1.5 $h-gutter*2 $v-gutter $h-gutter;   
//     font-size: 75%;
//     border-top: 1px solid rgba(0,0,0,.1);
//   }
// }



.name{
  left: 90px;
  // position: inherit;
  top: 50px;
  border:none;
  background-color:rgb(243, 239, 239);
  color:blue;

  
}


@media screen and (max-width: 500px) {

  .Card {
  width: 100%;
  }
  }
